<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>home_assignment_2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AttServlet</display-name>
    <servlet-name>AttServlet</servlet-name>
    <servlet-class>AttServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>pd_residentServlet</display-name>
    <servlet-name>pd_residentServlet</servlet-name>
    <servlet-class>pd_residentServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>pd_staffServlet</display-name>
    <servlet-name>pd_staffServlet</servlet-name>
    <servlet-class>pd_staffServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>StaffRpServlet</display-name>
    <servlet-name>StaffRpServlet</servlet-name>
    <servlet-class>StaffRpServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>PaymentdtServlet</display-name>
    <servlet-name>PaymentdtServlet</servlet-name>
    <servlet-class>PaymentdtServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>NetSalaryServlet</display-name>
    <servlet-name>NetSalaryServlet</servlet-name>
    <servlet-class>NetSalaryServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>AddAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AddComplaintServlet</display-name>
    <servlet-name>AddComplaintServlet</servlet-name>
    <servlet-class>AddComplaintServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AddResidentServlet</display-name>
    <servlet-name>AddResidentServlet</servlet-name>
    <servlet-class>AddResidentServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AddStaffServlet</display-name>
    <servlet-name>AddStaffServlet</servlet-name>
    <servlet-class>AddStaffServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>ChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>MarkComplaintServlet</display-name>
    <servlet-name>MarkComplaintServlet</servlet-name>
    <servlet-class>MarkComplaintServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>menupServlet</display-name>
    <servlet-name>menupServlet</servlet-name>
    <servlet-class>menupServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ResidentAttendenceUpdateServlet</display-name>
    <servlet-name>ResidentAttendenceUpdateServlet</servlet-name>
    <servlet-class>ResidentAttendenceUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ResidentRefundUpdateServlet</display-name>
    <servlet-name>ResidentRefundUpdateServlet</servlet-name>
    <servlet-class>ResidentRefundUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>StaffAttendenceUpdateServlet</display-name>
    <servlet-name>StaffAttendenceUpdateServlet</servlet-name>
    <servlet-class>StaffAttendenceUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>menuServlet</display-name>
    <servlet-name>menuServlet</servlet-name>
    <servlet-class>menuServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>complaintServlet</display-name>
    <servlet-name>complaintServlet</servlet-name>
    <servlet-class>complaintServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>registercomplaintServlet</display-name>
    <servlet-name>registercomplaintServlet</servlet-name>
    <servlet-class>registercomplaintServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>complaintStatusServlet</display-name>
    <servlet-name>complaintStatusServlet</servlet-name>
    <servlet-class>complaintStatusServlet</servlet-class>
  </servlet>
<servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>complaintStatusServlet</servlet-name>
    <url-pattern>/complaintStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttServlet</servlet-name>
    <url-pattern>/AttServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pd_residentServlet</servlet-name>
    <url-pattern>/pd_residentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pd_staffServlet</servlet-name>
    <url-pattern>/pd_staffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffRpServlet</servlet-name>
    <url-pattern>/StaffRpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentdtServlet</servlet-name>
    <url-pattern>/PaymentdtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NetSalaryServlet</servlet-name>
    <url-pattern>/NetSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComplaintServlet</servlet-name>
    <url-pattern>/AddComplaintServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddResidentServlet</servlet-name>
    <url-pattern>/AddResidentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStaffServlet</servlet-name>
    <url-pattern>/AddStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkComplaintServlet</servlet-name>
    <url-pattern>/MarkComplaintServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>menupServlet</servlet-name>
    <url-pattern>/menupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResidentAttendenceUpdateServlet</servlet-name>
    <url-pattern>/ResidentAttendenceUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResidentRefundServlet</servlet-name>
    <url-pattern>/ResidentRefundServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffAttendenceUpdateServlet</servlet-name>
    <url-pattern>/StaffAttendenceUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>menuServlet</servlet-name>
    <url-pattern>/menuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>complaintServlet</servlet-name>
    <url-pattern>/complaintServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registercomplaintServlet</servlet-name>
    <url-pattern>/registercomplaintServlet</url-pattern>
  </servlet-mapping>
</web-app>